-
  const tsTabsData = [
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Юлия Рагузина',
          experience: 'опыт более 17 лет',
          imgPath: 'img/team/ZAV_8696'
        },
        {
          name: 'Ирина Залюбавина',
          experience: 'опыт более 25 лет',
          imgPath: 'img/team/ZAV_8353'
        },
        {
          name: 'Елена Придачина',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_8407'
        },
        {
          name: 'Светлана Артамонова',
          experience: 'опыт более 25 лет',
          imgPath: 'img/team/ZAV_8604'
        },
        {
          name: 'Наталья Колемаскина',
          experience: 'опыт более 24 лет',
          imgPath: 'img/team/ZAV_8817_big'
        }
      ]
    },
    {
      hint: 'Ведущий бухгалтер ведёт вашу бухгалтерию, готовит отчетность в налоговую и внебюджетные фонды, начисляет заработную плату, отслеживает дебиторскую задолженность, готовит платёжные документы',
      sliderData: [
        {
          name: 'Анна Морозова',
          experience: 'опыт более 6 лет',
          imgPath: 'img/team/ZAV_8562'
        },
        {
          name: 'Лариса Захарова',
          experience: 'опыт более 5 лет',
          imgPath: 'img/team/ZAV_8360'
        },
      ]
    },
    {
      hint: 'Помощники бухгалтера ведут отдельные направления бухгалтерского и кадрового учёта, выполняют рутинные бухгалтерские операции. В вашей команде может быть <b>от 1 до 7 бухгалтеров-помощников</b> в зависимости от объема операций.',
      sliderData: [

      ]
    },
    {
      hint: 'Корпоративный юрист консультирует по вопросам применения корпоративного права, помогает проверить контрагентов, анализирует ваши договоры, помогает зарегистрировать компанию или изменения',
      sliderData: [
        {
          name: 'Павел Кряжев',
          experience: 'опыт более 7 лет',
          imgPath: 'img/team/ZAV_8455'
        },
      ]
    },
    {
      hint: 'Налоговый адвокат консультирует по вопросам оптимизации налогов и взаимодействию с контролирующими органами, сопровождает на проверках налоговой и УБЭП',
      sliderData: [

      ]
    },
  ]