-
  const tsTabsData = [
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Юлия Рагузина',
          experience: 'опыт более 17 лет',
          imgPath: 'img/team/ZAV_8696'
        },
        {
          name: 'Ирина Залюбавина',
          experience: 'опыт более 25 лет',
          imgPath: 'img/team/ZAV_8353'
        },
        {
          name: 'Елена Придачина',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_8407'
        },
        {
          name: 'Светлана Артамонова',
          experience: 'опыт более 25 лет',
          imgPath: 'img/team/ZAV_8604'
        }
      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Наталья Колемаскина',
          experience: 'опыт более 24 лет',
          imgPath: 'img/team/ZAV_8817_big'
        },
        {
          name: 'Анна Морозова',
          experience: 'опыт более 6 лет',
          imgPath: 'img/team/ZAV_8562'
        },
        {
          name: 'Лариса Захарова',
          experience: 'опыт более 5 лет',
          imgPath: 'img/team/ZAV_8360'
        },
      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [

      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [

      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [

      ]
    },
  ]