-
  const tsTabsData = [
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        }
      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        }
      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        }
      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        }
      ]
    },
    {
      hint: 'Главный бухгалтер контролирует правильность ведения вашей бухгалтерии, консультирует вас по всем вопросам по бухгалтерии <br>и налогам, проверяет правильность отчетности и расчета налогов',
      sliderData: [
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        },
        {
          name: 'Имя Человека',
          experience: 'опыт более 27 лет',
          imgPath: 'img/team/ZAV_5618'
        }
      ]
    },
  ]