.title-section-40-51  {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #000000;

  @include breakpoint(contSize) {
    font-size: 30px;
    line-height: 38px;
  }

  @media (max-width: 765px) {
    font-size: 22px;
    line-height: 28px;
  }
}

.subtitle-section {
  font-family: "Noto Serif";
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: #000;

  &.subtitle-section-white {
    color: #fff;
  }

  @include breakpoint(contSize) {
    font-size: 22px;
    line-height: 33px;
  }

  @media (max-width: 765px) {
    font-size: 18px;
    line-height: 27px;
  }
}