include ../../components/typography/subtitle-section
include ../../components/nav-arrow/nav-arrow

.s-certificates
  .container
    .s-certificates__title
      +subtitle-section('Бухгалтеры «ДКБ Профучет» сертифицированы, <br>а сама компания аккредитована в Сколково')
    .s-certificates__slider
      .s-certificates__nav-block
        +nav-arrow-prev('s-certificates')
        +nav-arrow('s-certificates')
      .s-certificates__js-slider
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg", alt="")