.s-certificates {
  padding-top: 150px;
  background-color: #fff;
  z-index: 200;
  position: relative;

  @include breakpoint(contSize) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 765px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  &__title {
    @media (max-width: 765px) {
      br {display: none;}
    }
  }

  &__nav-block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  &__slide a {
    display: block;
    width: 142px;

    img {
      width: 100%;
    }

    @media (max-width: 765px) {
      width: 102px;
    }

    @media (max-width: 360px) {
      width: 85px;
    }
  }

  &__nav-arrow.nav-arrow--prev {
    margin-right: 12px;
  }
}