include ../../components/typography/subtitle-section
include ../../components/nav-arrow/nav-arrow

.s-certificates
  .container
    .s-certificates__title
      +subtitle-section('Бухгалтеры «ДКБ Профучет» сертифицированы, <br>а сама компания аккредитована в Сколково')
    .s-certificates__slider
      .s-certificates__nav-block
        +nav-arrow-prev('s-certificates')
        +nav-arrow('s-certificates')
      .s-certificates__js-slider
        .s-certificates__slide
          a(href="img/certificates/sert-1-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-1-thumbnail.jpg" srcset="img/certificates/sert-1-thumbnail_2x.jpg 2x" alt="Сертификат 1")
        .s-certificates__slide
          a(href="img/certificates/sert-9-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-9-thumbnail.jpg" srcset="img/certificates/sert-9-thumbnail_2x.jpg 2x" alt="Сертификат 9")
        .s-certificates__slide
          a(href="img/certificates/sert-10-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-10-thumbnail.jpg" srcset="img/certificates/sert-10-thumbnail_2x.jpg 2x" alt="Сертификат 10")
        .s-certificates__slide
          a(href="img/certificates/sert-2-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-2-thumbnail.jpg" srcset="img/certificates/sert-2-thumbnail_2x.jpg 2x" alt="Сертификат 2")
        .s-certificates__slide
          a(href="img/certificates/sert-3-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-3-thumbnail.jpg" srcset="img/certificates/sert-3-thumbnail_2x.jpg 2x" alt="Сертификат 3")
        .s-certificates__slide
          a(href="img/certificates/sert-4-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-4-thumbnail.jpg" srcset="img/certificates/sert-4-thumbnail_2x.jpg 2x" alt="Сертификат 4")
        .s-certificates__slide
          a(href="img/certificates/sert-5-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-5-thumbnail.jpg" srcset="img/certificates/sert-5-thumbnail_2x.jpg 2x" alt="Сертификат 5")
        .s-certificates__slide
          a(href="img/certificates/sert-6-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-6-thumbnail.jpg" srcset="img/certificates/sert-6-thumbnail_2x.jpg 2x" alt="Сертификат 6")
        .s-certificates__slide
          a(href="img/certificates/sert-7-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-7-thumbnail.jpg" srcset="img/certificates/sert-7-thumbnail_2x.jpg 2x" alt="Сертификат 7")
        .s-certificates__slide
          a(href="img/certificates/sert-8-full.jpg" data-fancybox="s-certificates").s-certificates__slide-content
            img(src="img/certificates/sert-8-thumbnail.jpg" srcset="img/certificates/sert-8-thumbnail_2x.jpg 2x" alt="Сертификат 8")