include ../../components/typography/subtitle-section

.s-certificates
  .container
    .s-certificates__title
      +subtitle-section('Бухгалтеры «ДКБ Профучет» сертифицированы, <br>а сама компания аккредитована в Сколково')