.btn-default {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  padding: 21px 0;
  transition: 0.2s linear;
  cursor: pointer;

  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $blue-ribbon;

  outline: none;
  background: #fff;
  border-radius: 22px 2px 26px;
  transition-property: border-radius, color, background;

  @media (max-width: 765px) {
    padding: 17px 0;
    font-size: 10px;
    line-height: 15px;
  }
}

.btn-default:hover {
  background: $orange-peel;
  color: #fff;
  border-radius: 2px;
}