mixin area-odd(aData)
  .s-areas__block
    .s-areas__btitle!= aData.title
    .s-areas__bcontent!= aData.content

mixin area-even(aData)
  .s-areas__block.s-areas__block--rradius
    .s-areas__btitle!= aData.title
    .s-areas__bcontent!= aData.content