.s-areas {
  padding-top: 130px;

  position: relative;
  background-color: #fff;
  z-index: 100;

  &__inner {
    
    @include breakpoint(contSize) {
      padding: 0 40px;
    }

    @media (max-width: 765px) {
      padding: 0 20px;
    }
  }
  
  &__title {
    margin-bottom: 72px;
    @media (max-width: 765px) {
      br {
        display: none;
      }
    }
  }
  
  &__areas {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__block {
    text-decoration: none;
    box-sizing: border-box;
    padding: 45px 40px 20px;
    width: calc(25% - 2px);
    min-height: 250px;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
    line-height: 24px;
    background-color: $blue-ribbon;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 45px 2px 2px 2px;
    transition: 0.3s linear;
    transition-property: border-radius, background-color;

    &.s-areas__block--rradius {
      border-radius: 0px 2px 45px;
      margin-bottom: 0;
    }

    &:hover {
      background-color: $port-gore;
      border-radius: 2px;

      .s-areas__bcontent {
        opacity: 1;
      }
    }

    @include breakpoint(contSize) {
      width: calc(33.333333% - 2px);
      padding: 52px 33px 34px;
      margin-bottom: 2px;

      &.s-areas__block--rradius {
        border-radius: 45px 2px 2px 2px;
        margin-bottom: 2px;
      }
    }

    @media (max-width: 765px) {
      width: calc(50% - 3px);
      margin-bottom: 3px;
      line-height: 20px;
      padding: 36px 20px 30px;

      &.s-areas__block--rradius {
        margin-bottom: 3px;
      }
      br {display: none;}
    }
  }

  &__btitle {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    @media (max-width: 765px) {
      font-size: 16px;
    }
  }

  &__bcontent {
    letter-spacing: 0.05em;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s linear;

    @media (max-width: 765px) {
      font-size: 12px;
    }
  }
}