include ../../components/typography/subtitle-section
include area

-
  var sAreasData = [
    {
      title: 'Транспорт <br>и логистика',
      content: 'Для оптимизации налогообложения выгодно ЕНВД, УСНО, либо быть ИП или на патенте. <br>Основная боль - требование заказчиков работать на ОСНО.'
    },
    {
      title: 'Оптовая <br>торговля',
      content: 'Прямые расходы, связанные с закупкой, должны быть включены в их себестоимость. Доставка, тамож.платежи, страхование и т.д'
    },
    {
      title: 'Розничная <br>торговля',
      content: 'На каждую продажу продавец обязан пробить кассовый чек. Розничные организации вправе вести учет как по закупочным ценам, так и по продажным с выделенным учетом наценки'
    },
    {
      title: 'Услуги',
      content: 'Чаще всего компании-исполнители услуг с целью снижения налоговой нагрузки выбирают спецрежимы: ЕНВД или УСН. Наряду с ними может применяться и ОСНО'
    },
    {
      title: 'Общепит',
      content: 'Индивидуальные особенности практически всегда в нюансах учета, производства и специф. расходы и списания'
    },
    {
      title: 'Медицина',
      content: 'Особое значение имеет списание просроченных лекарств. В организации назначается для этого ответственное лицо. Предприятия могут применять режимы ОСНО или УСН.'
    },
    {
      title: 'Производство',
      content: 'Затраты предприятия подлежат включению в себестоимость продукции, работ и услуг того отчетного периода, к которому они относятся, независимо от времени их оплаты'
    },
    {
      title: 'Строительство',
      content: 'Организации используют  акты выполненных работ по спецформе КС-2, а также спецсправка о стоимости строительства по форме КС-3.'
    },
  ];

section.s-areas
  .container
    .s-areas__inner
      .s-areas__title
        +subtitle-section('Бухгалтеры «ДКБ Профучет» компетентны <br>в разных сферах бизнеса и разбираются <br>во всех нюансах налогообложения')
      .s-areas__areas
        each item in [sAreasData[0], sAreasData[1], sAreasData[2], sAreasData[3]]
          +area-odd(item)
        each item in [sAreasData[4], sAreasData[5], sAreasData[6], sAreasData[7]]
          +area-even(item)