include ../../components/typography/subtitle-section
include area

-
  var sAreasData = [
    {
      title: 'Транспорт<br>и логистика',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
    {
      title: 'Оптовая <br>торговля',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
    {
      title: 'Розничная <br>торговля',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
    {
      title: 'Услуги',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
    {
      title: 'Общепит',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
    {
      title: 'Медицина',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
    {
      title: 'Производство',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
    {
      title: 'Строительство',
      content: 'Особенности бухучета<br>в организациях оптовой торговли, кратко, не более 100 знаков'
    },
  ];

section.s-areas
  .container
    .s-areas__title
      +subtitle-section('Бухгалтеры «ДКБ Профучет» компетентны <br>в разных сферах бизнеса и разбираются <br>во всех нюансах налогообложения')
    .s-areas__areas
      each item in [sAreasData[0], sAreasData[1], sAreasData[2], sAreasData[3]]
        +area-odd(item)
      each item in [sAreasData[4], sAreasData[5], sAreasData[6], sAreasData[7]]
        +area-even(item)