include ../../components/tiny-comps/nav-link-top
include ../../components/header-feedback/header-feedback

header.header
  .container
    .header__line
      button.header__burger
        +icon('burger')
      .header__logo
        include ../../components/logo/logo-1
      .header__mob-phone
        include ../mob-phone/mob-phone
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item
            +nav-link-top('Отзывы', '#reviews')
          li.header__nav-item
            +nav-link-top('Команда', '#team')
          li.header__nav-item
            +nav-link-top('Как сэкономить', '#how-to-econom')
          li.header__nav-item
            +nav-link-top('Услуги', '#services')
          li.header__nav-item
            +nav-link-top('Цены', '#prices')
          li.header__nav-item
            +nav-link-top('Как начать', '#how-to-start')
      .header__feedback
        +header-feedback-soc
        +header-feedback-tel