-
  const serviceData = [
    {
      name: 'Бухучет',
      description: [
        'Сбор, контроль и учет первичных документов',
        'Ведение бухучета в базе 1С с удаленным доступом',
        'Расчетно-кассовое обслуживание и ведение системы «Банк-Клиент»',
        'Консультации по бухгалтерскому учету',
        'Курьерская доставка документов',
        'Дополнительно: постановка учета в начале деятельности <br>и восстановление бухучета',
      ]
    },
    {
      name: 'Налоги',
      description: [
        'Оптимизация налогов законными способами',
        'Организация налогового учета',
        'Составление платежного календаря с планируемыми суммами налогов',
        'Консультации по налогообложению',
        'Подготовка платежек по налогам и сборам',
        'Взаимодействие с контролирующими органами (сверка расчетов, камеральные проверки)',
      ]
    },
    {
      name: 'Отчетность',
      description: [
        'Сдача отчетности в налоговую, ФСС, ПФ',
        'Подготовка статистической отчетности',
        'Согласование с вами основных цифр в отчетах',
        'Отправка отчетов в электронном виде точно в срок'
      ]
    },
    {
      name: 'Кадры',
      description: [
        'Оформление приема, перевода, увольнения сотрудников',
        'Работа со штатным расписанием',
        'Выдача справок 2-НДФЛ, о зарплате',
        'Начисление и учет зарплаты, больничных, отпускных',
        'Кадровое делопроизводство'
      ]
    }
  ];