include ../../components/typography/subtitle-section
include ../../components/nav-arrow/nav-arrow

.s-benefits#s-benefits-2
  .container
    .s-benefits__subtitle
      +subtitle-section('Посмотрите, какую пользу получают компании <br>благодаря нашему комплексному подходу')
    .s-benefits__tab-block.benefits-tab-block
      .benefits-tab-block__nav-arrows
        +nav-arrow-prev('benefits-tab-block')
        +nav-arrow('benefits-tab-block')
      .benefits-tab-block__top-line
        .benefits-tab-block__tab-btn.benefits-tab-block__tab-btn--active#benefits2-tab-btn-1 Как приведение в порядок бухгалтерского <br>учета позволило вернуть 708 718 рублей
        .benefits-tab-block__tab-btn#benefits2-tab-btn-2 Как с помощью корректного <br>учета планировать выручку и затраты
      .benefits-tab-block__status-line
        .benefits-tab-block__status-line-inner
      .benefits-tab-block__tab-content#tab-block2-tab-content--1
        .benefits-tab-block__info
          .benefits-tab-block__info-inner
            +icon('gazprom', 'benefits-tab-block__gazprom')
            .benefits-tab-block__info-about-client Клиент:
            .benefits-tab-block__info-about-client ООО на упрощенной системе налогообложения
            .benefits-tab-block__info-about Служба бронирования частных трансферов и транспорта представительского класса
        .benefits-tab-block__case
          .benefits-tab-block__case-top-block
            .benefits-tab-block__case-tb-situation Ситуация
            .benefits-tab-block__case-tb-text
              p К нам обратился клиент, недовольный работой наших конкурентов:
              ul.benefits-tab-block__case-tb-list
                li.benefits-tab-block__case-tb-item документы от поставщиков проводились значительно позже даты документа. Из-за этого начислялись завышенные суммы налога по УСН; 
                li.benefits-tab-block__case-tb-item отчетность сдавалась несвоевременно;
                li.benefits-tab-block__case-tb-item задолженность по покупателям и поставщикам <br>не отслеживалась;
                li.benefits-tab-block__case-tb-item отчетность за 2018 год сдана не полностью.
          .benefits-tab-block__case-middle-block
            .benefits-tab-block__case-mb-title-line
              .benefits-tab-block__case-mb-title Как решали задачу
                +icon('corner', 'benefits-tab-block__corner')
              .benefits-tab-block__case-mb-unfold Развернуть
            ul.benefits-tab-block__list
              p Бухгалтерский учет операций по договору комиссии имеет ряд особенностей, которые необходимо учитывать при настройке системы. Во время анализа мы выяснили, что: 
              li.benefits-tab-block__item
                .benefits-tab-block__item-count 1.
                p.benefits-tab-block__item-text Изначально предложили вести финансово-управленческий учет в программе «ПланФакт». Этот вариант клиенту не подошел — для анализа требовалось слишком много времени.
              li.benefits-tab-block__item
                .benefits-tab-block__item-count 2.
                p.benefits-tab-block__item-text Предложили структурировать платежи по календарю, установить два платежных дня в неделю. 
              li.benefits-tab-block__item
                .benefits-tab-block__item-count 3.
                p.benefits-tab-block__item-text Обеспечили полный контроль дебиторской задолженности <br>со стороны сотрудников. 
              li.benefits-tab-block__item
                .benefits-tab-block__item-count 4.
                p.benefits-tab-block__item-text Организовали еженедельный расчет по НДС и предоставление информация по недостающим закрывающим документам со стороны бухгалтерии.
          .benefits-tab-block__case-bottom-block
            .benefits-tab-block__case-bb-result Результат
            ul.benefits-tab-block__case-bb-list
              li.benefits-tab-block__case-bb-list-item 
                +icon('check', 'benefits-tab-block__case-bb-list-item-icon')
                | 1 апреля согласовали с клиентом отчетность за 2018 год <br>и сдали ее полностью и в срок. 
              li.benefits-tab-block__case-bb-list-item 
                +icon('check', 'benefits-tab-block__case-bb-list-item-icon')
                | Избавили клиента от санкций за подачу в инспекцию недостоверных сведений.
              li.benefits-tab-block__case-bb-list-item 
                +icon('check', 'benefits-tab-block__case-bb-list-item-icon')
                | Выявили излишне перечисленную за 2018 год сумму налога <br>по УСН в размере 708 718,00 рублей.
      .benefits-tab-block__tab-content#tab-block2-tab-content--2
        .benefits-tab-block__info
          .benefits-tab-block__info-inner
            +icon('gazprom', 'benefits-tab-block__gazprom')
            .benefits-tab-block__info-about-client Клиент:
            .benefits-tab-block__info-about-client УСН «доходы минус расходы»
            .benefits-tab-block__info-about Компания торгует фармацевтической продукцией, на рынке с 2004 г.
        .benefits-tab-block__case
          .benefits-tab-block__case-top-block
            .benefits-tab-block__case-tb-situation Ситуация
            .benefits-tab-block__case-tb-text
              p Клиент обратился к нам с просьбой провести анализ и настроить учет бухгалтерской базы, чтобы решить несколько проблем:  
              ul.benefits-tab-block__case-tb-list
                li.benefits-tab-block__case-tb-item при переходе компании с суммового учета на количественный товары в магазине стали отображаться некорректно;
                li.benefits-tab-block__case-tb-item товары по договорам комиссии не учитывались; 
                li.benefits-tab-block__case-tb-item неправильно списывалась себестоимость, а это важный фактор при расчете налога
              p Бухгалтерская фирма, которая обслуживала компанию до этого, не смогла решить поставленные задачи. 
          .benefits-tab-block__case-middle-block
            .benefits-tab-block__case-mb-title-line
              .benefits-tab-block__case-mb-title Как решали задачу
                +icon('corner', 'benefits-tab-block__corner')
              .benefits-tab-block__case-mb-unfold Развернуть
            .benefits-tab-block__case-tb-text
            ul.benefits-tab-block__list
              p Бухгалтерский учет операций по договору комиссии имеет ряд особенностей, которые необходимо учитывать при настройке системы. Во время анализа мы выяснили, что: 
              li.benefits-tab-block__case-tb-item при переходе с суммового учета на количественный был допущен ряд ошибок;
              li.benefits-tab-block__case-tb-item была неправильно проведена инвентаризация, из-за чего произошло искажение учета.
              p.benefits-tab-block__item-text Мы провели повторную инвентаризацию и зафиксировали реальные остатки в базе. Полностью настроили в программе движение товара, принятого по договорам комиссии. 
              p.benefits-tab-block__item-text Теперь поступление и продажа товаров отображаются правильно, себестоимость проданных товаров списывается верно. Клиент видит корректные отчеты по остаткам и проданным товарам.
          .benefits-tab-block__case-bottom-block
            .benefits-tab-block__case-bb-result Результат
            p.benefits-tab-block__case-bb-text Мы решили проблему клиента, и он заключил с нами комплексный договор на бухгалтерское сопровождение. Благодаря контролю и строгой отчетности, собственник получает правдивую информацию о финансовых потоках, может планировать выручку и затраты, предупредить воровство персонала. И, конечно, теперь компания корректно считает прибыль.