.s-benefits {
  padding-top: 140px;
  padding-bottom: 138px;
  background-color: #fff;
  position: relative;
  z-index: 1000;

  @include breakpoint(contSize) {
    padding-top: 108px;
  }

  @media (max-width: 765px) {
    padding-top: 52px;
    padding-bottom: 48px;
  }
  
  &__tab-block {
    @include breakpoint(contSize) {
      padding: 0 40px;
    }

    @media (max-width: 765px) {
      padding: 0 20px;
    }
  }

  &__subtitle {
    margin-bottom: 68px;

    @include breakpoint(contSize) {
      padding: 0 40px;
    }

    @media (max-width: 765px) {
      padding: 0 20px;
      margin-bottom: 50px;
      br {display: none;}
    }
  }
}

.benefits-tab-block {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.03em;
  color: #000;

  &__nav-arrows {
    display: none;

    @media (max-width: 765px) {
      display: flex;
      margin-bottom: 20px;
    }
  }

  &__nav-arrow.nav-arrow--prev {
    margin-right: 12.5px;
  }

  &__top-line {
    display: flex;
    margin-bottom: 42px;

    @include breakpoint(contSize) {
      margin-bottom: 35px;
      
    }

    @media (max-width: 765px) {
      margin-bottom: 48px;
      display: block;
    }
  }

  &__tab-btn {
    cursor: pointer;
    flex: 0 0 50%;
    width: 50%;
    color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
    line-height: 25px;
    font-weight: 900;
    transition: color 0.3s linear;

    &.benefits-tab-block__tab-btn--active, &:hover {
      color: #000;
    }

    @include breakpoint(contSize) {
      br {display: none;}

      &:last-child {
        padding-left: 20px;
      }
    }

    @media (max-width: 765px) {
      font-size: 16px;
      line-height: 24px;
      width: 100%;

      &:last-child {
        padding-left: 0;
        display: none;
      }

      color: #000;
    }
  }

  &__tl-content {
    max-width: 485px;
  }

  &__status-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 68px;

    @media (max-width: 765px) {
      display: none;
    }
  }

  &__status-line-inner {
    position: absolute;
    top: -1px;
    left: 0;
    width: 46%;
    height: 4px;
    background-color: #000;
    transition: 0.3s;
    transition-property: left, width;

    &.benefits-tab-block__status-line-inner--shifted {
      left: 48%;
      width: 52%;
    }
  }

  &__aside {
    position: absolute;
    bottom: 40px;
    left: 80px;
    width: 200px;
    height: 200px;
    
    @include breakpoint(contSize) {
      bottom: -320px;
      left: 250px;
    }

    @media (max-width: 765px) {
      bottom: -300px;
      left: 60px;
    }

    &-text {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 51px;
      text-align: center;
      color: #fff;
      transform: rotate(-17.21deg);

      span {
        display: block;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.03em;
      }

      @media (max-width: 765px) {
        font-size: 22px;
        line-height: 28px;

        span {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }

  &__tab-content {
    position: relative;
    @include row-flex();

    @include breakpoint(contSize) {
      margin-left: 0;
      margin-right: 0;
      display: block;
    }
    
    .boring-circle {
      top: 10px;
      left: 60px;

      &__box2 {
        width: 300px;
        height: 300px;
        transform: translate(-150px, -110px) rotate(0deg);
      }

      @media (max-width: 765px) {
        

        &__box2 {
          width: 220px;
          height: 220px;
          transform: translate(-80px, -110px) rotate(0deg);
        }
      }
    }
  }

  &__info, &__case {
    @include col();
  }

  &__info {
    @include size(1);

    @include breakpoint(contSize) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  &__case {
    padding-top: 12px;
    @include size(2);

    @include breakpoint(contSize) {
      margin-left: 0;
      margin-right: 0;
      padding-top: 20px;
      width: 100%;
    }

    @media (max-width: 765px) {
      padding-top: 27px;
    }
  }

  &__info-inner {
    max-width: 242px;

    @include breakpoint(contSize) {
      max-width: none;
      position: relative;
      width: 50%;
    }

    @media (max-width: 765px) {
      position: static;
      max-width: none;
      width: 100%;
    }
  }

  &__gazprom {
    width: 88px;
    height: 42px;
    margin-bottom: 46px;
  }

  &__info-about-client {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 50px;

    &:first-of-type {
      margin-bottom: 15px;
    }

    @media (max-width: 765px) {
      width: 100%;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 20px;
      br {display: none;}

      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__info-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.35);

    @include breakpoint(contSize) {
      position: absolute;
      bottom: -10px;
      right: -75%;
      max-width: 242px;
    }

    @media (max-width: 765px) {
      position: static;
      font-size: 12px;
      line-height: 20px;
      // br {display: none;}
    }
  }

  &__case-middle-block {    
    padding-top: 33px;
    margin-bottom: 64px;

    @include breakpoint(contSize) {
      margin-bottom: 48px;
    }

    @media (max-width: 765px) {
      padding-top: 15px;
      margin-bottom: 35px;
    }
  }

  &__case-mb-title-line {
    cursor: pointer;
    position: relative;
    padding-left: 68px;
    margin-bottom: 10px;

    @media (max-width: 765px) {
      padding-left: 56px;
    }
  }

  &__case-tb-situation,
  &__case-mb-title,
  &__case-bb-result {
    font-weight: 700;
    font-size: 17px;
    line-height: 34px;

    @media (max-width: 765px) {
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__case-bb-result {
    margin-bottom: 10px;
  }

  &__case-tb-item {
    position: relative;
    padding-left: 37px;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: "—";
      left: 0;
      color: $blue-ribbon;
    }

    @media (max-width: 765px) {
      font-size: 14px;
      line-height: 28px;
    }
  }

  &__corner {
    position: absolute;
    width: 14px;
    height: 9px;
    left: 0;
    top: 12px;
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }

  &__corner.benefits-tab-block__corner--open {
    transform: rotate(0);
  }

  &__case-tb-situation {
    margin-bottom: 20px;

    @media (max-width: 765px) {
      margin-bottom: 9px;
    }
  }

  &__case-tb-text,
  &__item-text,
  &__case-bb-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;

    @media (max-width: 765px) {
      font-size: 14px;
      line-height: 28px;
    }

  }

  &__case-tb-text {
    max-width: 600px;
  }

  &__case-tb-text {
    p {
      margin-bottom: 13px;
    }
  }

  &__case-mb-unfold,
  &__case-mb-fold {
    cursor: pointer;
    margin-top: -8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.35);

    &:hover {
      text-decoration-line: underline;
    }
  }

  &__list {
    padding-left: 24px;
    display: none;

    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 34px;
      margin-bottom: 22px;

      @media (max-width: 360px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    @media (max-width: 360px) {
      padding-left: 0;
    }
  }

  &__item {
    position: relative;
    padding-left: 36px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__item-count {
    position: absolute;
    left: 0;
    color: $blue-ribbon;
    opacity: 0.8;
    font-weight: 900;
    font-size: 17px;
    line-height: 31px;
  }

  &__case-bottom-block {
    box-sizing: border-box;
    padding: 51px 48px 60px 56px;
    border: 15px solid $solitude;
    border-radius: 2px;
    
    @media (max-width: 765px) {
      padding: 36px 39px 30px 39px;
    }

    @media (max-width: 360px) {
      padding: 20px;
    }
  }

  &__case-bb-list {
    padding-top: 19px;

    &-item {
      position: relative;
      padding-left: 50px;
      font-weight: 400;
      font-size: 17px;
      line-height: 34px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &-icon {
        position: absolute;
        top: 6px;
        left: 0;
        width: 21px;
        height: 21px;
      }
    }

    @media (max-width: 765px) {
      padding-top: 10px;
      
      &-item {
        br { display: none; }
        font-size: 14px;
        line-height: 28px;
        padding-left: 32px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
  
        &-icon {
          top: 5px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }


}

#tab-block-tab-content--2,
#tab-block2-tab-content--2 {
  display: none;
}    

#s-benefits-2 {
  padding-bottom: 388px;

  @media (max-width: 765px) {
    padding-bottom: 260px;
  }
}