.mob-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
    align-self: flex-start;
  }

  &__delimeter {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 34px;
  }

  &__mb-feedback {
    margin-bottom: 50px;
  }

  &__contacts {

  }
}

@import "mobile-nav";
@import "mb-feedback";
@import "mb-contacts";