include ../../components/typography/title-section
include ../../components/typography/subtitle-section

.s-reviews
  .container
    .s-reviews__content
      .s-reviews__title
        +title-section-40-51('А еще мы по-человечески внимательно <br>относимся <br class="s-reviews__title-br">к вам и вашей компании')
      .s-reviews__subtitle
        +subtitle-section('Почитайте цитаты из отзывов <br>наших клиентов')
      .s-reviews__reviews-slider
        include ../reviews-slider/reviews-slider