.notice-1
  .container
    .notice-1__content
      p.notice-1__lside Наши бухгалтеры <b>следят за изменениями <br>законодательства</b> и каждый квартал <br><b>повышают квалификацию</b> на профильных <br>семинарах
      p.notice-1__rside <b>Поэтому ваша бухгалтерия и отчетность <br>всегда соответствуют всем требованиям.</b> <br>Значит — никаких штрафов и выездных <br>проверок