include ../soc-links-top/soc-links-top

mixin header-feedback-tel()
  .header-feedback
    a(href="tel:+74999385260").header-feedback__tel +7 499 938-52-60
    .header-feedback__caption.header-feedback__caption--tel(data-popup="#popup-call") Заказать звонок

mixin header-feedback-soc()
  .header-feedback
    .header-feedback__cos-line
      .header-feedback__cos-link
        +soc-links-top('whatsapp', 'https://wa.me/79099134897')
      .header-feedback__cos-link
        +soc-links-top('telegram', 'https://tlgg.ru/9099134897')
      .header-feedback__cos-link
        +soc-links-top('mail', 'mailto:dkbprof@mail.ru')
    .header-feedback__caption Задать вопросы