include sp-tab-content
include ../../components/typography/title-section
include ../../components/nav-arrow/nav-arrow

-
  var props = [
    {
      paragraphs: [
        'Наши <b>бухгалтера все делают правильно и вовремя.</b><br>Поэтому у контролирующих органов нет претензий',
        '<b>Ответственность бухгалтеров застрахована на 3 000 000 ₽</b>.<br>Страховка действует в течение 3 лет после сдачи отчетности. За 9 лет работы нам ни разу не пришлось ее использовать — штрафов не было '
      ],
      aside: 'Кстати, налоговая очень положительно воспринимает аутсорсинг бухгалтерии:<br>к вашей компании будет меньше внимания'
    },
    {
      paragraphs: [
        '<b>Вашу бухгалтерию ведет постоянная команда</b><br>вам не придется искать новых сотрудников, привыкать к ним и вводить их в курс дела',
        '<b>Наши бухгалтера подменяют друг друга</b><br>на время отпуска или больничного. Поэтому ваш бизнес работает без перерывов, все задачи выполняются<br>точно в срок'
      ],
      aside: '80% штатных бухгалтеров — девушки, и они нередко уходят в декрет. С нами вы экономите время и деньги на поиск и адаптацию нового бухгалтера'
    },
    {
      paragraphs: [
        '<b>Главбух на аутсорсе заинтересован в вашем процветании</b><br>Между вами нет личных отношений, поэтому нет причин для конфликтов',
        '<b>Невозможен сговор с другими собственниками</b><br>Мы воспринимаем вашу компанию, как единое целое,<br>и просто качественно выполняем свои обязанности'
      ],
      aside: 'Кстати, из-за конфликтов 9% штатных и 73% приходящих бухгалтеров исчезают вместе <br>с базой и не передают дела'
    },
    {
      paragraphs: [
        '<b>Ежедневный бэкап бухгалтерской базы</b><br>Данные сохраняются даже в случае чрезвычайных ситуаций',
        '<b>У вас есть круглосуточный доступ <br>к бухгалтерской информации</b> благодаря использованию облачной системы 1С',
        '<b>При расторжении договора вы получите бухгалтерскую базу сразу и в полном порядке</b><br>База — ваша собственность, это подтверждено договором'
      ],
      aside: ''
    },
    {
      paragraphs: [
        '<b>Конфиденциальность ваших данных прописана в договоре</b><br>В частности, никто не узнает, какую зарплату получают руководители вашей компании',
        '<b>Доступ к базе и документам имеет строго ограниченный круг лиц, с правом на определенные операции.</b><br>Детали закреплены в договоре и регламенте обслуживания.<br>К примеру, право подписи платежек есть только у вас.'
      ],
      aside: ''
    }
  ]

section.s-protects
  .container
    .s-protects__inner
      .s-protects__title
        +title-section-40-51('Бухгалтерское сопровождение<br>от «ДКБ ПрофУчет»<br>защищает ваш бизнес на 100%')
      .s-protects__tab-block
        .s-protects__nav-btns
            +nav-arrow-prev('s-protects')
            +nav-arrow('s-protects')
        .s-protects__tabs-btns
        .s-protects__tab-content
          .s-protects__slick
            each item, i in props
              .s-protects__tab(class=`s-protects__tab--${i+1}`)
                +sp-tab-content(item)