.calc-form {
  position: relative;
  background-color: $blue-ribbon;
  min-height: 1005px;

  &__subtitle * {
    color: #fff !important;

    @include breakpoint(contSize) {
      text-align: center;
    }
  }

  &__subtitle {
    @media (max-width: 765px) {
      .subtitle-section {
        text-align: left;
      }
    }
  }

  &__sliding {
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 116px;
    min-height: 1005px;
    

    &.calc-form__sliding--fixed {
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1;
    }

    @include breakpoint(contSize) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: 765px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 150px;
    }

    @media (max-width: 360px) {
      padding-bottom: 54px;
    }
  }

  &__main-block {
    padding-top: 56px;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
  }

  &__form {
    @include row-flex();

    @include breakpoint(contSize) {
      margin-left: 0;
      margin-right: 0;
      display: block;
    }
  }

  &__calculator {
    @include col();
    @include size(1);

    @include breakpoint(contSize) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 765px) {
      margin-bottom: 48px;
    }
  }

  &__userdata {
    @include col();
    @include size(2);
    padding-left: 64px;

    @include breakpoint(contSize) {
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }

  &__select-block {
    margin-bottom: 33px;
    
    @media (max-width: 360px) {
      width: 100%;
    }
  }

  &__organizational-form {
    width: 355px;
    
    margin-bottom: 42px;

    @media (max-width: 360px) {
      width: 100%;
    }
  }

  &__select-field {
    width: 330px;

    @media (max-width: 360px) {
      width: 100%;
    }
  }

  &__inputs {
    width: 330px;
    display: flex;
    justify-content: space-between;

    input[type='number'] {
      -moz-appearance:textfield;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    margin-bottom: 41px;

    @media (max-width: 360px) {
      width: 100%;
      align-items: flex-end;
    }
  }

  &__input-base {
    width: 155px;

    @media (max-width: 360px) {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__result {
    @media (max-width: 765px) {
      align-self: flex-start;
    }
  }

  &__result-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
  }

  &__result-value {
    font-weight: 900;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0.035em;
  }
  &__result-text {
    font-weight: 700;
    font-size: 12px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;
    max-width: 430px;
    margin-bottom: 14px;

    b { font-weight: 700; }

    @media (max-width: 765px) {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 22px;
    }
  }

  &__list {
    margin-bottom: 27px;
    padding-left: 1px;

    @media (max-width: 765px) {
      padding-left: 0;
      margin-bottom: 60px;
    }
  }

  &__litem {
    position: relative;
    padding-left: 34px;

    font-weight: 400;
    font-size: 17px;
    line-height: 34px;

    letter-spacing: 0.03em;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: "—";
      left: 0;
    }

    @media (max-width: 765px) {
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 6px;
      br { display: none; }
    }
  }

  &__beedback {
    width: 100%;
    display: flex;

    @media (max-width: 765px) {
      display: block;
    }
  }

  &__beedback &__input-base {
    width: 330px;
    margin-bottom: 54px;

    &:first-child {
      margin-right: 20px;
    }

    @media (max-width: 765px) {
      width: 100%;
      margin-bottom: 30px;

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 56px;
      }
    }
  }

  &__submit {
    width: 328px;
    margin-bottom: 15px;

    @media (max-width: 765px) {
      width: 270px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__accept-conf {
    @media (max-width: 765px) {
      width: 222px;
      margin: 0 auto;
      & > * {
        text-align: center;
      }
    }
    
  }

  &__side-hint {
    // position: fixed;
    // top: 50px;
    // right: 47px;
    // z-index: 10000;
  }
}



@import "dkb-select";
@import "side-hint";

.organizational-form {
  
  &__title {
    display: block;
    margin-bottom: 12px;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 21px;
    font-family: "Museo Sans Cyrl";
    font-weight: 900;
  }

  &__fields {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;

    background-color: rgba($color: #fff, $alpha: 0.3);
    display: block;
    padding: 3px 22px;
    border-radius: 30px;

    @media (max-width: 360px) {
      padding: 2px 10px;
      border-radius: 16px;
    }
  }

  &__input {
    display: none;
  }

  &__input:checked + &__label {
    background-color: #fff;
    color: $blue-ribbon;
  }
}