.side-hint
  .side-hint__close
    svg(viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg")
      path( fill-rule="evenodd" clip-rule="evenodd" d="M5.03593 4.34973L1.70424 7.70912L0.295898 6.28906L3.62758 2.92967L5.03593 4.34973Z" fill="black")
      path(path fill-rule="evenodd" clip-rule="evenodd" d="M1.70337 0.288909L5.03505 3.6483L3.62671 5.06836L0.295026 1.70897L1.70337 0.288909Z" fill="black")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M3.18942 4.34973L6.5211 7.70912L7.92944 6.28906L4.59776 2.92967L3.18942 4.34973Z" fill="black")
      path(fill-rule="evenodd" clip-rule="evenodd" d="M6.52197 0.288909L3.19029 3.6483L4.59863 5.06836L7.93032 1.70897L6.52197 0.288909Z" fill="black")
  .side-hint__body Почему бессмысленно выбирать бухгалтера только по цене?