.donotpay
  .donotpay__subtitle
    +subtitle-section('К тому же вы не платите:')
  ul.donotpay__items
    li.donotpay__item
      h5.donotpay__title Штрафы <br>и доначисления
      p.donotpay__text По данным Росстата, средний размер доначислений по результатам выездных проверок <br>у компаний — <span>17 200 000 ₽</span>, <br>ИП — <span>3 700 000 ₽</span>) — за 9 лет наши клиенты ни разу не получали штрафов. Мы все делаем верно <br>и вовремя
    li.donotpay__item
      h5.donotpay__title За бухгалтерские консультации
      p.donotpay__text При обслуживании у нас они будут бесплатными. Отдельно одна консультация стоит от <span>10 000 ₽</span>
    li.donotpay__item
      h5.donotpay__title За ошибки бухгалтерии
      p.donotpay__text Нет убытков и срыва платежей из-за блокировки счетов или кассовых разрывов
    li.donotpay__item
      h5.donotpay__title За восстановление бухгалтерии
      p.donotpay__text Если штатный / приходящий бухгалтер некачественно вел учет или исчез вместе с базой, восстановление обходится <br>от <span>10 000 ₽</span> за каждый месяц
    li.donotpay__item
      h5.donotpay__title За оптимизацию налогов
      p.donotpay__text В среднем по Москве эта услуга стоит <span>250 000 ₽</span>
    li.donotpay__item
      h5.donotpay__title Лишних <br>налогов
      p.donotpay__text Нет переплаты налогов, <br>мы оптимизируем их на постоянной основе