.s-economy {
  padding-top: 140px;

  @include breakpoint(contSize) {
    padding-top: 110px;
  }

  @media (max-width: 765px) {
    padding-top: 50px;
  }

  &__inner {
    @include breakpoint(contSize) {
      padding: 0 40px;
    }
    @media (max-width: 765px) {
      padding: 0 20px;
    }
  }

  &__title {
    margin-bottom: 77px;

    @include breakpoint(contSize) {
      margin-bottom: 53px;
    }

    @media (max-width: 765px) {
      br { display: none; }
    }
  }

  &__subtitle {
    margin-bottom: 21px;

    @include breakpoint(contSize) {
      margin-bottom: 11px;
    }

    @media (max-width: 765px) {
      margin-bottom: 7px;
    }
  }

  &__note {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.35);

    @media (max-width: 765px) {
      max-width: 260px;
    }
  }

  &__main {
    font-family: "Noto Sans", sans-serif;

  }

  &__values-block {
    padding-top: 57px;
    display: flex;

    @include breakpoint(contSize) {
      display: block;
      padding-top: 43px;
    }
  }

  &__values-col {
    max-width: 380px;
    flex: 0 0 auto;

    @include breakpoint(contSize) {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 18px;
    }

    @media (max-width: 765px) {
      display: block;
      margin-bottom: 50px;
    }
  }

  &__counter-block {
    // position: relative;
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @include breakpoint(contSize) {
      display: block;
      
    }
  }

  &__value {
    letter-spacing: 0.03em;
    color: #000;

    &:first-child .s-economy__plus {
      display: none;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include breakpoint(contSize) {
      max-width: 50%;
      width: 50%;
    }

    @media (max-width: 765px) {
      max-width: 100%;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 26px;
      }
    }
  }

  &__val-number {
    font-weight: 900;
    font-size: 29px;
    line-height: 38px;

    @include breakpoint(contSize) {
      letter-spacing: 0.05em;
    }
  }

  &__val-comment {
    font-size: 17px;
    line-height: 29px;

    @media (max-width: 765px) {
      font-size: 14px;
      line-height: 28px;
      br { display: none; }
      // width: 100%;
    }
  }

  &__counter {
    position: relative;
    color: $blue-ribbon;
    font-weight: 900;
    text-align: center;
    top: -80px;

    &.s-economy__counter--fixed {
      position: fixed;
      top: 0 !important;
    }

    @include breakpoint(contSize) {
      position: static;
      top: initial;
    }
  }

  

  &__counter-title {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;

    @media (max-width: 765px) {
      font-size: 29px;
      line-height: 38px;
    }
  }

  &__counter-value {
    font-size: 120px;
    line-height: 154px;

    @media (max-width: 765px) {
      font-size: 60px;
      line-height: 77px;
    }

    @media (max-width: 360px) {
      font-size: 50px;
      line-height: 68px;
    }
  }

  &__donotpay {
    padding-top: 67px;

    @include breakpoint(contSize) {
      padding-top: 90px;
    }

    @media (max-width: 765px) {
      padding-top: 50px;
    }
  }
}

@import "donotpay";