extends layouts/default
include helpers/mixins

block variables
	- const title = "ПрофУчет"

block content
	.wrapper
		include ../blocks/modules/header/header
		include ../blocks/modules/top-screen/top-screen
		include ../blocks/modules/work-order/work-order
		include ../blocks/modules/form-side/form-side
		include ../blocks/modules/s-features/s-features
		include ../blocks/modules/s-reviews/s-reviews
		include ../blocks/modules/s-protects/s-protects
		include ../blocks/modules/s-recommends/s-recommends
		include ../blocks/modules/s-team/s-team
		include ../blocks/modules/s-certificates/s-certificates
		include ../blocks/modules/s-areas/s-areas
		include ../blocks/modules/notice-1/notice-1
		include ../blocks/modules/s-economy/s-economy
		include ../blocks/modules/s-outsourcing/s-outsourcing
		include ../blocks/modules/s-contacts/s-contacts
		include ../blocks/modules/footer/footer
		div.dummy(style="height: 1000px; background-color: #eee")
		include ../blocks/modules/s-form-1/s-form-1
		include ../blocks/modules/popups/popups
	div.dummy(style="height: 1000px; background-color: #eee")
	include ../blocks/modules/sidedrawer/sidedrawer

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")