extends layouts/default
include helpers/mixins

block variables
	- const title = "ПрофУчет"

block content
	.wrapper
		include ../blocks/modules/header/header
		include ../blocks/modules/top-screen/top-screen
		include ../blocks/modules/work-order/work-order
		include ../blocks/modules/form-side/form-side
		include ../blocks/modules/s-features/s-features
	div.dummy(style="height: 100px; background-color: #eee")
	include ../blocks/modules/sidedrawer/sidedrawer

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")