.s-team {
  padding-top: 140px;
  background-color: #fff;
  position: relative;
  z-index: 500;

  @include breakpoint(contSize) {
    padding-top: 100px;
  }

  @media (max-width: 765px) {
    padding-top: 85px;
  }

  &__headers {
    @include breakpoint(contSize) {
      padding: 0 40px;
    }
    @media (max-width: 765px) {
      padding: 0 20px;
    }
  }

  &__title {
    margin-bottom: 30px;

    .title-section-40-51 {
      font-size: 58px;
      line-height: 70px;

      @include breakpoint(contSize) {
        font-size: 44px;
        line-height: 53px;
      }

      @media (max-width: 765px) {
        font-size: 30px;
        line-height: 36px;
      }
    }

    @include breakpoint(contSize) {
      margin-bottom: 24px;
    }
    @media (max-width: 765px) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 78px;
    position: relative;

    @media (max-width: 765px) {
      max-width: 225px;
      margin-bottom: 43px;
      br {display: none;}
    }

    .subtitle-section {
      position: relative;
      z-index: 30;
    }
  }

  &__aside {
    position: absolute;
    left: 671px;
    top: -80px;
    transform: rotate(-11deg);

    @include breakpoint(contSize) {
      left: 510px;
      top: -90px;
    }

    @media (max-width: 765px) {
      left: 210px;
      top: -80px;
    }

    &-text {
      position: relative;
      font-family: "Noto Sans";
      font-weight: 900;
      font-size: 40px;
      line-height: 51px;
      text-align: center;
      color: #FFFFFF;
      z-index: 20;

      @media (max-width: 765px) {
        font-size: 22px;
        line-height: 28px;
      }

      &-smaller {
        font-weight: 400;
        font-size: 17px;
        line-height: 34px;
        letter-spacing: 0.03em;
        display: block;

        @media (max-width: 765px) {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }

    .boring-circle {
      top: 20px;
      left: 20px;

      @media (max-width: 360px) {
        display: none;
      }

      &__box1 {
        width: 40px;
        height: 40px;
      }

      &__box2 {
        width: 225px;
        height: 225px;

        @media (max-width: 765px) {
          width: 160px;
          height: 160px;

          transform: translate(-40px, -60px) rotate(0deg);
        }
      }

      z-index: 12;
    }
  }

  &__slider-block {
    @include breakpoint(contSize) {
      padding: 0 40px;
    }

    @media (max-width: 765px) {
      padding: 0 20px;
    }
  }

  &__br {
    display: none;

    @media (max-width: 765px) {
      display: inline !important;
    }
  }
}

@import "team-slider/team-slider"