include ../../components/typography/title-section
include ../../components/typography/subtitle-section

section.s-outsourcing
	.container
		.popup__title
			+title-section-40-51('Переход на аутсорсинг')
		.s-team__subtitle
			+subtitle-section('Мы «подхватим» бухгалтерию вашей компании за 5 дней')
		.s-outsourcing__items
			.s-outsourcing__item
				.s-outsourcing__item-pic
					img(src="img/s-outsourcing/one.svg", alt="logo")
				.s-outsourcing__item-text Подписываем договор  о бухгалтерском обслуживании
			.s-outsourcing__item
				.s-outsourcing__item-pic
					img(src="img/s-outsourcing/two.svg", alt="logo")
				.s-outsourcing__item-text Принимаем вашу бухгалтерскую базу или документы, если базы нет
			.s-outsourcing__item
				.s-outsourcing__item-pic
					img(src="img/s-outsourcing/three.svg", alt="logo")
				.s-outsourcing__item-text Создаем и настраиваем под вас удаленную систему «1С.Бухгалтерия»
			.s-outsourcing__item
				.s-outsourcing__item-pic
					img(src="img/s-outsourcing/four.svg", alt="logo")
				.s-outsourcing__item-text Оформляем необходимые доверенности  и доступы
			.s-outsourcing__item
				.s-outsourcing__item-pic
					img(src="img/s-outsourcing/five.svg", alt="logo")
				.s-outsourcing__item-text Анализируем вашу базу, запрашиваем недостающие документы
			.s-outsourcing__item
				.s-outsourcing__item-pic
					img(src="img/s-outsourcing/six.svg", alt="logo")
				.s-outsourcing__item-text Мы начинаем вести вашу бухгалтерию, вы спокойно занимаетесь бизнесом!
.notice-1
	.container
		.notice-1__content
			p.notice-1__lside <b>Неважно, где вы находитесь </b><br>в другом районе Москвы или в области
			p.notice-1__rside Оригиналы документов доставляют наши курьеры. Копии и электронные документы передаем по email или через мессенджеры. При необходимости приезжаем к вам в офис 