.ts-hint {
  box-sizing: border-box;
  max-width: 746px;
  border: 15px solid #EAF4FE;
  border-radius: 2px;
  padding: 40px 52px;

  font-weight: 400;
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 0.03em;
}