.s-contacts {
    padding-top: 140px;
    @include breakpoint(contSize) {
        padding-top: 114px;
    }
    @media (max-width: 765px) {
        padding-top: 42px;
    }
    &__title {
        font-family: "Noto Sans", sans-serif;
        font-weight: 900;
        font-size: 45px;
        line-height: 1.33;
        text-align: center;
        color: #000000;
        max-width: 1120px;
        margin: 0 auto 165px;
        @include breakpoint(contSize) {
            margin-bottom: 140px;
            font-size: 35px;
        }
        @media (max-width: 765px) {
            margin-bottom: 70px;
            font-size: 20px;
            line-height: 150%;
        }
        a {
            color: #000;
            text-decoration: none;
            border-bottom: 3px solid #FFA001;
        }
    }
    &__body {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 126px;
        @include breakpoint(contSize) {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 71px;
        }
        @media (max-width: 765px) {
            flex-direction: column;
            text-align: center;
            padding-bottom: 93px;
        }
    }
    &__info {
        display: flex;
        width: 40%;
        @include breakpoint(contSize) {
            flex-direction: column;
            width: 50%;
        }
        @media (max-width: 765px) {
            width: 100%;
        }
    }
    &__logo {
        width: 75px;
        @include breakpoint(contSize) {
            margin-bottom: 25px;
        }
        @media (max-width: 765px) {
            margin: 0 auto 36px;
        }
    }
    &__block {
        margin-left: 40px;
        @include breakpoint(contSize) {
            margin-left: 0;
            margin-bottom: 35px;
        }
        @media (max-width: 765px) {
            width: 100%;
        }
    }
    &__more {
        display: flex;
        align-items: flex-end;
        width: 60%;
        @include breakpoint(contSize) {
            flex-direction: column;
            width: 50%;
            align-items: flex-start;
        }
        @media (max-width: 765px) {
            width: 100%;
        }
    }
    &__header {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 180%;
        /* or 25px */
        letter-spacing: 0.02em;
        color: #000000;
    }
    &__text {
        max-width: 195px;
        font-size: 14px;
        line-height: 200%;
        /* or 28px */
        letter-spacing: 0.04em;
        color: #000000;
        @media (max-width: 765px) {
            max-width: none;
        }
        
    }
    &__onmap {
        display: flex;
        align-items: flex-end;
        font-weight: 900;
        font-size: 9px;
        line-height: 150%;
        /* or 13px */
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #000000;
        @media (max-width: 765px) {
            justify-content: center;
        }
    }
    .soc-links-top--location {
        width: 9px;
        height: 14px;
        margin-right: 9px;
    }
    .header-feedback__cos-line {
        justify-content: flex-start;
        @media (max-width: 765px) {
            max-width: none;
            justify-content: center;
        }
    }
    .soc-links-top--whatsapp  {
        margin-right: 14px;
    }
    &__schedule {
        span {
            display: inline-block;
            min-width: 59px;
            margin-right: 12px;
        }
        @media (max-width: 765px) {
            text-align: left;
            max-width: 165px;
            margin: 0 auto;
            .s-contacts__header {
                text-align: center;
            }
        }
    }

}