include ../../components/typography/title-section
include ../../components/soc-links-top/soc-links-top

section.s-contacts
  .container
    p.s-contacts__last-title Приезжайте к нам в офис, чтобы обсудить <br>условия бухгалтерского сопровождения <br>и <a href="#s-form-2" class="s-contacts__title-link">получить личную консультацию</a> <br>Юлии Рагузиной
    .s-contacts__contacts-block
      .s-contacts__little-about
        .s-contacts__logo
          +icon('logo-pale', 's-contacts__logo-svg')
        .s-contacts__la-right
          .s-contacts__bold-title-lh25  ООО «ДКБ ПрофУчет»
          .s-contacts__text Безупречное бухгалтерское сопровождение вашего бизнеса
      .s-contacts__contacts-data
        .s-contacts__address
          .s-contacts__bold-title Контакты
          .s-contacts__text ул. Большая Косинская, <br>д. 27, Москва
          a(href="https://yandex.ru/maps/213/moscow/?ll=37.857781%2C55.717881&mode=search&oid=1033604175&ol=biz&sctx=ZAAAAAgBEAAaKAoSCaAy%2Fn3GoUJAEX41Bwjm1ktAEhIJuJIdG4F4wT8RA9L%2BB1irrj8iBQABAgQFKAAwATjEodnpldHB36IBQPdTSAFVzczMPlgAYiRtaWRkbGVfYXNrX2RpcmVjdF9xdWVyeV90eXBlcz1ydWJyaWNiKG1pZGRsZV9pbmZsYXRlX2RpcmVjdF9maWx0ZXJfd2luZG93PTUwMDBiEnJlbGV2X2RydWdfYm9vc3Q9MWJEbWlkZGxlX2RpcmVjdF9zbmlwcGV0cz1waG90b3MvMi54LGJ1c2luZXNzcmF0aW5nLzIueCxtYXNzdHJhbnNpdC8xLnhiNm1pZGRsZV93aXpleHRyYT10cmF2ZWxfY2xhc3NpZmllcl92YWx1ZT0wLjAwNzc1NTk1MTAyNWInbWlkZGxlX3dpemV4dHJhPWFwcGx5X2ZlYXR1cmVfZmlsdGVycz0xYihtaWRkbGVfd2l6ZXh0cmE9b3JnbW5fd2FuZF90aHJlc2hvbGQ9MC45YiltaWRkbGVfd2l6ZXh0cmE9cmVxdWVzdF9zb2Z0X3RpbWVvdXQ9MC4wNWIjbWlkZGxlX3dpemV4dHJhPXRyYW5zaXRfYWxsb3dfZ2VvPTFiP21pZGRsZV93aXpleHRyYT10cmF2ZWxfY2xhc3NpZmllcl9vcmdtYW55X3ZhbHVlPTAuMDAwNjM3MTAwMTM2NGIebWlkZGxlX2Fza19kaXJlY3RfcGVybWFsaW5rcz0xYiptaWRkbGVfaW5mbGF0ZV9kaXJlY3RfcmVxdWVzdF93aW5kb3c9MTAwMDBiHXJlbGV2X2ZpbHRlcl9nd2tpbmRzPTAuMywwLjQ1YilyZWFycj1zY2hlbWVfTG9jYWwvR2VvL0FsbG93VHJhdmVsQm9vc3Q9MWIxcmVhcnI9c2NoZW1lX0xvY2FsL0dlb3VwcGVyL2ZlYXR1cmVzRnJvbU9iamVjdHM9MWIvcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Qb3N0ZmlsdGVyL0Fic1RocmVzaD0wLjJiKXJlYXJyPXNjaGVtZV9Mb2NhbC9HZW8vQ3V0QWZpc2hhU25pcHBldD0xYjVyZWFycj1zY2hlbWVfTG9jYWwvR2VvL0hvdGVsQm9vc3Q9bWVhbl9jb252ZXJzaW9uXzEyd2IpcmVhcnI9c2NoZW1lX0xvY2FsL0dlby9Vc2VHZW9UcmF2ZWxSdWxlPTFqAnJ1cAGVAQAAAACdAc3MTD6gAQGoAQC9Ae0piwPCAQXPmO7sAw%3D%3D&sll=37.857781%2C55.717881&source=wizbiz_new_map_single&text=%D0%94%D0%9A%D0%91%20%D0%9F%D1%80%D0%BE%D1%84%D0%A3%D1%87%D0%B5%D1%82&z=14" target="_blank").s-contacts__on-map
            span.s-contacts__map-icon
              +icon('location')
            span На карте
        .s-contacts__tel-mail-soc
          .s-contacts__text
            span +7 (499) 938-52-60
            span dkbprof@mail.ru
          .s-contacts__soc-line
            .s-contacts__cos-link
              +soc-links-top('whatsapp', 'https://wa.me/79099134897')
            .s-contacts__cos-link
              +soc-links-top('telegram', 'https://tlgg.ru/9099134897')
        .s-contacts__worktime
          .s-contacts__bold-title Режим работы
          .mb-contacts__wtime-block
            .mb-contacts__wtime-left
              span пн — чт
              span пт
              span сб — вс
            .mb-contacts__wtime-right
              span 9:00 — 18:00
              span 9:00 — 17:00
              span выходной
    .s-contacts__socs.socs
      ul.socs__line
        li.socs__item
          a(href="https://www.facebook.com/pg/dkbprof" title="Facebook").socs__link.socs__link--fb
            +icon('fb')
        li.socs__item
          a(href="https://vk.com/dkbprof" title="Vkontakte").socs__link.socs__link--vk
            +icon('vk')
        li.socs__item  
          a(href="https://www.instagram.com/julia.raguzina/" title="Instagram").socs__link.socs__link--inst
            +icon('instagram')
        li.socs__item  
          a(href="https://www.youtube.com/channel/UCdorfKKF83xLv25T9PreilA" title="Youtube").socs__link.socs__link--youtube
            +icon('youtube')