.header-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 58px;
  line-height: 70px;
  color: $black;
  letter-spacing: -0.02em;

  @include breakpoint(contSize) {
    font-size: 44px;
    line-height: 53px;
  }

  @media (max-width: 765px) {
    font-size: 30px;
    line-height: 36px;
  }
}