.ts-slide {

  &__img-block {
    width: 278px;

    @include breakpoint(contSize) {
      width: 227px;
    }

    @media (max-width: 765px) {
      width: auto;
      max-width: 165px;
    }

    @media (max-width: 370px) {
      width: auto;
      max-width: 165px;
      padding: 0 1px;
    }
  }

  &__info {
    width: 230px;
    margin: 0 auto;
    padding-top: 30px;
    letter-spacing: 0.03em;
    font-size: 17px;
    line-height: 34px;

    @media (max-width: 765px) {
      padding-top: 14px;
      padding-left: 8px;
      font-size: 14px;
      line-height: 28px;
      width: 100%;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__experience {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.35);
  }
}

