.s-tostart {
  padding: 140px 0;

  @include breakpoint(contSize) {
      padding-bottom: 100px;
  }

  @media (max-width: 765px) {
    padding: 86px 0;
    padding-bottom: 50px;
  }

  &__inner {
    @include breakpoint(contSize) {
      padding: 0 40px;
    }

    @media (max-width: 765px) {
      padding: 0 20px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    @media (max-width: 765px) {
      br { display: none; }
    }
  }

  &__order {
    padding-top: 68px;
    @include row-flex();

    @include breakpoint(contSize) {
      margin-left: 0;
      margin-right: 0;
    }

    @media (max-width: 765px) {
      display: block;
      padding-top: 58px;
    }
  }

  &__order-item {
    @include col();
    @include size(1);

    @include breakpoint(contSize) {
      margin-left: 0;
      margin-right: 0;
      width: 50%;
    }

    @media (max-width: 765px) {
      width: 100%;
    }
  }

  &__notice {
    padding-top: 30px;
    padding-bottom: 67px;

    @media (max-width: 765px) {
      padding-bottom: 40px;
    }

    @media (max-width: 360px) {
      padding-bottom: 0;
    }
  }

  &__voskl {
    display: block;
    width: 14px;
    height: 45px;
    fill: $blue-ribbon;
    margin: 0 auto;
    margin-bottom: 28px;

    @media (max-width: 765px) {
      margin-bottom: 21px;
    }
  }

  &__undervoskl {
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 73px;

    @media (max-width: 765px) {
      br { display: none; }
      letter-spacing: initial;
      margin-bottom: 48px;
    }
  }

  &__bottom-block {
    font-family: "Noto Sans";
  }

  &__link {
    display: block;
    width: 384px;
    margin: 0 auto;
    padding: 22px;
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000;
    background: $orange-peel;
    border-radius: 22px 2px 26px;
    text-decoration: none;
    transition: border-radius 0.3s linear;

    &:hover {
      border-radius: 2px;
    }

    margin-bottom: 140px;

    @include breakpoint(contSize) {
      box-sizing: border-box;
      width: 346px;
      margin-bottom: 110px;
    }

    @media (max-width: 765px) {
      width: auto;
      max-width: 310px;
      font-size: 10px;
      line-height: 15px;
      padding: 18.5px;
      margin-bottom: 70px;
    }
  }

  &__bottom-title {
    max-width: 945px;
    margin-bottom: 43px;

    @include breakpoint(contSize) {
      margin-bottom: 26px;
    }

    @media (max-width: 765px) {
      br { display: none; }
    }
  }

  &__bottom-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;

    @media (max-width: 765px) {
      font-size: 14px;
      line-height: 28px;
    }
  }
}

@import "order-item";


.notice-2 {
  position: relative;
  padding-top: 120px;
  padding-bottom: 145px;
  background-color: #fff;
  z-index: 100;

  @media (max-width: 765px) {
    width: 100%;
  }
  

  &__content {
    min-height: 269px;
    display: flex;
    // align-items: center;
    background: url('../img/general/notice-2_desktop.svg') no-repeat;

    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: #000;

    b {
      font-weight: 700;
    }
    
    & > * {
      box-sizing: border-box;
      width: 50%;
      flex: 0 0 50%;
    }

    @include breakpoint(contSize) {
      max-width: 687px;
      margin: 0 auto;
      display: block;
      background: url('../img/general/notice-1_mobile.svg') no-repeat;
      min-height: 548px;
      background-size: 100% auto;
    }

    @media (max-width: 765px) {
      min-height: 500px;
      max-width: 334px;
      font-size: 14px;
      line-height: 28px;
      background: url('../img/general/notice-2_mobile-min.svg') no-repeat;
      background-size: 100% auto;
      b {
        font-weight: 400;
      }
    }
  }

  &__lside {
    padding-left: 88px;
    padding-top: 70px;

    @include breakpoint(contSize) {
      padding: 0;
      // br {display: none;}
      width: 350px;
      margin: 0 auto;
      text-align: center;
      padding-top: 70px;
      margin-bottom: 250px;
    }

    @media (max-width: 765px) {
      width: auto;
      max-width: 267px;
      padding-top: 56px;
      margin-bottom: 140px;
    }

    @media (max-width: 360px) {
      padding-top: 40px;
      margin-bottom: 78px;
    }
  }

  &__rside {
    padding-left: 88px;
    padding-top: 70px;

    @include breakpoint(contSize) {
      padding: 0;
      br {display: none;}
      width: 550px;
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: 765px) {
      width: auto;
      max-width: 267px;
    }

    @media (max-width: 360px) {
      max-width: 236px;
    }
  }
}