-
  var tostartData = [
    {
      number: '1',
      text: 'Подписываем договор <br>о бухгалтерском <br>обслуживании'
    },
    {
      number: '2',
      text: 'Принимаем вашу бухгалтерскую базу или документы, если базы нет'
    },
    {
      number: '3',
      text: 'Создаем и настраиваем <br>под вас удаленную <br>систему «1С.Бухгалтерия»'
    },
    {
      number: '4',
      text: 'Оформляем необходимые <br>доверенности <br>и доступы'
    },
    {
      number: '5',
      text: 'Анализируем вашу базу, <br>запрашиваем <br>недостающие документы'
    },
    {
      number: '6',
      text: 'Мы начинаем вести вашу бухгалтерию, вы спокойно занимаетесь бизнесом!'
    },
  ];