.top-screen {
  // overflow: hidden;
  padding-top: 43px;

  @include breakpoint(contSize) {
    padding: 45px 40px 0;
  }

  @media (max-width: 765px) {
    padding: 60px 20px 0;
  }
  
  &__info-block {
    margin-bottom: 74px;
    position: relative;

    @include breakpoint(contSize) {
      margin-bottom: 80px;
    }

    @media (max-width: 765px) {
      margin-bottom: 44px;
    }
  }

  &__big-title {
    position: relative;
    z-index: 10;
    max-width: 848px;
    margin-bottom: 30px;

    @media (max-width: 765px) {
      max-width: 245px;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 10;
    max-width: 576px;
    margin-bottom: 60px;

    @include breakpoint(contSize) {
      margin-bottom: 70px;
    }

    @media (max-width: 765px) {
      max-width: 300px;
      margin-bottom: 38px;
    }
  }

  &__features {
    display: flex;
    position: relative;
    z-index: 10;

    @media (max-width: 765px) {
      display: block;
    }
  }

  &__feature {
    max-width: 250px;

    &:not(:last-child) {
      margin-right: 70px;
    }
    
    @include breakpoint(contSize) {
      max-width: 192px;

      &:not(:last-child) {
        margin-right: 60px;
      }
    }

    @media (max-width: 765px) {
      max-width: none;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__links-line {
    @include row-flex;
  }



  &__aside {
    position: relative;

    .boring-circle {
      // position: absolute;
      // width: 100%;
      // height: 100%;
      transform: translate(-10px, -15px);

      &__box1 {
        width: 140px;
        height: 140px;
      }
    }

    &-circle {
      
      top: 0;
      left: 0;
      background-color: rgba(122, 122, 122, 0.6);
      z-index: 10;
    }

    &-content {
      z-index: 15;
      position: relative;
      transform: rotate(-16deg);

      @media (max-width: 765px) {
        display: none;
      }
    }

    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    top: -46px;
    right: 0;

    width: 384px;
    height: 383px;
    padding-top: 140px;
    padding-left: 140px;

    font-family: "Museo Sans Cyrl", sans-serif;
    font-style: normal;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    // background: url("../img/general/orange-egg.jpg");

    &-top {
      position: relative;
      font-weight: 900;
      margin-bottom: 22px;
      

      &::before {
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 35px;
        height: 1px;
        background-color: #fff;
      }
    }

    &-bottom {
      font-weight: 500;
      line-height: 18px;
      font-size: 16px;
    }

    @include breakpoint(contSize) {
      top: -6px;
      right: -80px;
    }

    @media (max-width: 765px) {
      top: -50px;
      right: -140px;

      width: 384px*0.88;
      height: 383px*0.88;
      background-size: 100%;
    }
  }
}

@import "feature";


@media (max-width: 765px) {
  #taxation-system, #field_of_activity {
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: #fff;
    box-sizing: border-box;
    padding: 13px 15px 13px 16px;
    letter-spacing: 0.03em;
	  color: #fff;
    position: relative;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option {
      font-weight: 400;
      font-size: 17px;
      line-height: 34px;
      padding: 10px 15px;
      color: $blue-ribbon;
    }
  }

  #field_of_activity option:disabled {
    // color: rgba(255, 255, 255, 0.5);
  }

  .calc-form__select-field {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 60px;
      right: 16px;
      width: 14px;
      height: 8px;
      background: url('../img/general/tr-arrow.svg') no-repeat;
    }
  }
}