.s-problems {
  background: rgba(229, 229, 229, 0.3);

  &__main-block {
    position: relative;
    padding-top: 415px;
    padding-bottom: 570px;

    @include breakpoint(contSize) {
      padding-top: 110px;
      padding-bottom: 110px;
      padding-left: 40px;
      padding-right: 40px;
      position: static;
    }

    @media (max-width: 765px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
      padding-bottom: 10px;
    }
  }

  &__center {
    font-family: "Noto Serif";
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #000;

    &-title {
      margin-bottom: 5px;
    }
    
    &-text {
      font-family: "Noto Sans";
      font-weight: 700;
      font-size: 17px;
      line-height: 34px;
      text-align: center;
      letter-spacing: 0.01em;
      color: $blue-ribbon;
    }

    @include breakpoint(contSize) {
      margin-bottom: 40px;
    }

    @media (max-width: 765px) {
      font-size: 18px;
      line-height: 27px;

      &-text {
        font-size: 14px;
        line-height: 28px;
      }
    }
  }

  &__list {
    @include breakpoint(contSize) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (max-width: 765px) {
      flex-direction: column;
      justify-content: flex-start;
      max-height: 800px;
    }

    @media (max-width: 360px) {
      max-height: 970px;
    }
  }

  &__item {
    position: absolute;
    font-family: "Noto Sans", sans-serif;

    @include breakpoint(contSize) {
      position: static;
      width: 324px;
      br { display: none; }
      margin-bottom: 70px;
    }

    @media (max-width: 765px) {
      width: auto;
      max-width: 158px;
      margin-bottom: 45px;
    }

    @media (max-width: 360px) {
      max-width: 132px;
    }
  }

  &__arc {
    position: absolute;

    @include breakpoint(contSize) {
      display: none;
    }
  }

  &__heading {
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.03em;
    margin-bottom: 22px;

    @media (max-width: 765px) {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.4);

    @media (max-width: 765px) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__item--1, &__item--2, &__item--3 {
    @media (max-width: 765px) {
      margin-right: 16px;
    }
  }

  &__item--1 {
    width: 373px;
    top: 110px;
    left: 120px;
  }

  &__arc-1 {
    width: 81px;
    height: 97px;
    bottom: -121px;
    left: 107px;
  }

  &__item--2 {
    width: 400px;
    top: 110px;
    right: 34px;
  }

  &__arc-2 {
    width: 72px;
    height: 78px;
    bottom: -88px;
    left: 122px;
  }

  &__item--3 {
    width: 386px;
    bottom: 212px;
    left: -10px;
  }

  &__arc-3 {
    width: 130px;
    height: 124px;
    top: -162px;
    left: 186px;
  }

  &__item--4 {
    width: 386px;
    bottom: 152px;
    left: 385px;

    @media (max-width: 765px) {
      padding-top: 66px;
    }
  }

  &__arc-4 {
    width: 2px;
    height: 89px;
    top: -122px;
    left: 164px;
  }

  &__item--5 {
    width: 386px;
    bottom: 202px;
    left: 785px;
  }

  &__arc-5 {
    width: 95px;
    height: 117px;
    top: -155px;
    left: 34px;
  }
}