section.s-problems
  .container
    .s-problems__main-block
      .s-problems__center
        h4.s-problems__center-title Проблемы со штатными <br>и приходящими бухгалтерами
        p.s-problems__center-text из прошлого опыта наших клиентов
      ul.s-problems__list
        li.s-problems__item.s-problems__item--1
          p.s-problems__heading Не задумываются <br>о законной оптимизации <br>ваших налогов
          p.s-problems__text Легальное снижение ваших налогов — одна из должностных обязанностей наших бухгалтеров
          +icon('arc-1', 's-problems__arc s-problems__arc-1')
        li.s-problems__item.s-problems__item--2
          p.s-problems__heading Уходят вместе с бухгалтерской <br>базой и без нормальной <br>передачи дел
          p.s-problems__text С нами вы имеете постоянный доступ к <br>базе и контролируете состояние дел — <br>мы каждый месяц предоставляем вам отчет <br>о проделанной работе
          +icon('arc-2', 's-problems__arc s-problems__arc-2')
        li.s-problems__item.s-problems__item--3
          p.s-problems__heading Не делают регулярную сверку <br>с налоговой и фондами, <br>повышая вероятность выездной <br>проверки
          p.s-problems__text Мы контролируем своевременную <br>отправку налоговых платежей по <br>правильным реквизитам и ежегодно <br>проводим сверки
          +icon('arc-3', 's-problems__arc s-problems__arc-3')
        li.s-problems__item.s-problems__item--4
          p.s-problems__heading Увольняются прямо перед <br>проверкой или в разгар <br>отчетного периода
          p.s-problems__text За ведение вашей бухгалтерии <br>отвечает вся наша компания. <br>Отчеты мы всегда сдаем вовремя <br>и сопровождаем вас во время <br>проверок
          +icon('arc-4', 's-problems__arc s-problems__arc-4')
        li.s-problems__item.s-problems__item--5
          p.s-problems__heading Редко оспаривают неправомерно <br>начисленные штрафы и налоги, <br>и вы платите лишнее
          p.s-problems__text Мы сопровождаем вас на <br>камеральных проверках, <br>контролируем правильность <br>начисления налогов и оспариваем <br>неправомерные суммы
          +icon('arc-5', 's-problems__arc s-problems__arc-5')