include ../../components/typography/subtitle-section
include ../../components/input-base/input-base
include ../../components/buttons/btn-default/btn-default


- 
  var inputData = {
    extraClass: 's-form-2',
    name: 'phone',
    placeholder: '+7',
    label: ''
  }

section.s-form-1#s-form-2
  .sb-overlay
  .container
    .s-form-1__content
      .s-form-1__form-sliding.s-form-2__sliding.s-form-1__sliding
        .s-form-1__main-block
          .s-form-1__label.fadeOutUp Бесплатно
          .s-form-1__subtitle.fadeOutUp
            +subtitle-section-white('Не уверены, что в вашей бухгалтерии <br>все в порядке?</a>')
          ul.s-form-1__list.fadeOutUp
            p Мы бесплатно проведем экспресс-анализ вашей бухгалтерии, и вы поймете:
            li.s-form-1__list-item соответствует ли бухгалтерская и налоговая отчетность реальному состоянию дел в компании
            li.s-form-1__list-item не платит ли бухгалтер больше налогов, чем это необходимо
            li.s-form-1__list-item есть ли ошибки и проблемные места в учете <br>и отчетности
            p В итоге вы снизите риски налогов и штрафов  из-за неправильного ведения бухгалтерского учета.
          form(action="sendmail/send.php" method="post" id="s-form-2f" data-afterpopup="#feebback_expressanaliz" autocomplete="off").s-form-1__form.fadeOutUp
            .s-form-1__input
              +input-base-nolabel(inputData)
            .s-form-1__button
              +btn-default-submit('записаться на консультацию')
              .s-form-1__accept-conf
                include ../../components/accept-conf/accept-conf-2
        .s-form-1__aside-pic.fadeOutUp
          div(class='s-form-1__img-block')
            picture.worder-item__picture
              source(
                data-srcset='img/general/julia_1.webp', 
                type="image/webp"
              )
              img(
                src="img/general/empty.png" 
                data-src=`img/general/julia_1.png`
              ).lazyImg