.s-form-1 {
  position: relative;
  background-color: $blue-ribbon;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 1;
    pointer-events: none;
    z-index: 100;
  }

  &__content {
    // height: 1020px;

    @include breakpoint(contSize) {
      padding: 0 40px;
    }
  
    @media (max-width: 765px) {
      padding: 0 20px;
    }
  }

  &__form-sliding {
    position: relative;
    // box-sizing: border-box;
    width: 100%;
    // transform: translateY(-100%);
    // z-index: 1000;

    &.s-form-1__form-sliding--fixed {
      position: fixed;
      top: 0;
      max-width: 1122px;
      z-index: 1;
      pointer-events: none;
    }
  }

  &__aside-pic {
    
    position: absolute;
    bottom: 0;
    bottom: -4px;
    right: -80px;
  }

  &__img-block {
    width: 464px;

    picture {
      padding-top: 194.18103448275863%;
    }
  }

  &__main-block {
    padding-top: 170px;
    padding-bottom: 138px;
  }

  &__subtitle {
    margin-bottom: 35px;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $orange-peel;
    
    &:hover {
      color: $orange-peel;
    }
  }

  &__label {
    box-sizing: border-box;
    width: 74px;
    border: 2px solid #fff;
    border-radius: 4px 0;
    padding: 2px;

    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.04em;

    margin-bottom: 20px;
  }

  &__list {
    max-width: 485px;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    letter-spacing: 0.03em;
    margin-bottom: 75px;
  }

  &__list-item {
    position: relative;
    padding-left: 37px;

    &::before {
      position: absolute;
      left: 0;
      content: "—";
      display: inline-block;
      margin-right: 19px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__form {
    max-width: 637px;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 300px;

    input {
      padding: 12px 16px;
    }
  }

  &__button {
    width: 317px;
  }

  &__accept-conf {
    padding-top: 10px;
  }

  
}