include ../../components/typography/subtitle-section
include ../../components/input-base/input-base
include ../../components/buttons/btn-default/btn-default


- 
  var inputData = {
    extraClass: 's-form-1',
    name: 'phone',
    placeholder: '+7',
    label: ''
  }

section.s-form-1#s-form-1
  .sb-overlay
  .container
    .s-form-1__content
      .s-form-1__sliding.s-form-1__form-sliding
        .s-form-1__main-block
          .s-form-1__label.fadeOutUp Бесплатно
          .s-form-1__subtitle.fadeOutUp
            +subtitle-section-white('Получите консультацию по оптимизации <br>бухгалтерии и налогообложения <br>от нашего гендиректора <a href="javascript:;" class="s-form-1__link" data-popup="#popup-compare">Юлии Рагузиной</a>')
          ul.s-form-1__list.fadeOutUp
            li.s-form-1__list-item Разберетесь, где и как можно законно сэкономить <br>на расходах и налогах
            li.s-form-1__list-item Узнаете о проблемных местах в бухгалтерском <br>и налоговом учете вашей компании
            li.s-form-1__list-item Получите четкие рекомендации по исправлению выявленных ошибок
            li.s-form-1__list-item Поймете, какая система налогообложения выгоднее для вашей компании
            li.s-form-1__list-item Получите ответы на свои вопросы о финансах, бухгалтерии и налогообложении
          form(action="" method="post").s-form-1__form.fadeOutUp
            .s-form-1__input
              +input-base-nolabel(inputData)
            .s-form-1__button
              +btn-default-submit('записаться на консультацию')
              .s-form-1__accept-conf
                include ../../components/accept-conf/accept-conf-2
        .s-form-1__aside-pic.fadeOutUp
          div(class='s-form-1__img-block')
            picture.worder-item__picture
              source(
                data-srcset='img/general/julia_1.webp', 
                type="image/webp"
              )
              img(
                src="img/general/empty.png" 
                data-src=`img/general/julia_1.png`
              ).lazyImg