-
  const tsnavItems = [
    { position: 'Главный <br>бухгалтер', experience: 'Опыт более 15 лет' },
    { position: 'Ведущий <br>бухгалтер', experience: 'более 5 лет' },
    { position: 'Помощники <br>бухгалтера', experience: 'более 3 лет' },
    { position: 'Корпоративный <br>юрист', experience: 'более 7 лет' },
    { position: 'Налоговый <br>адвокат', experience: 'более 5 лет' }
  ];

.ts-nav
  .ts-nav__buttons
    each item, i in tsnavItems
      .ts-nav__button(data-button=`${i}`)
        span.ts-nav__position!= item.position
        span.ts-nav__experience!= item.experience
  .ts-nav__line
    .ts-nav__pointer-line