footer.footer
  .container
    .footer__body
      a(href="#") Политика конфиденциальности
      .footer__copy 2019 © ООО «ДКБ ПрофУчет»
      .footer__info 
        | Сделано в 
        a(href="#") LAMPA

