footer.footer
  .footer__container
    .footer__body
      a(href="#").footer__politycs Политика конфиденциальности
      .footer__copy 2019 © ООО «ДКБ ПрофУчет»
      .footer__info 
        | Сделано в 
        a(href="#") LAMPA

