include ../../components/typography/title-section
include ../../components/s-feature/s-feature

-
  var sFeatureCont = [
    {
      number: '1',
      order: '',
      title: 'Прямое общение<br>с вашим бухгалтером',
      description: ['Он отвечает за вашу компанию — никаких<br><b>менеджеров-посредников</b>. Ваши запросы поступают<br>в работу сразу и без искажения, поставленные задачи<br>выполняются быстро и точно']
    },
    {
      number: '2',
      order: 'reverse',
      title: 'Безлимитные консультации<br>по бухгалтерии и налогам',
      description: 'Грамотный бухгалтер с вами каждый день<br>8 рабочих часов — поддерживает и подсказывает:',
      litems: [
        'что и как лучше сделать;',
        'какие варианты решения есть у вашей проблемы;',
        'как лучше заплатить налоги;',
        'какие есть скидки, бонусы и государсвенные<br>предложения для малого бизнеса'
      ]
    },
    {
      number: '3',
      order: '',
      title: 'Реагируем на ваши запросы<br>в течение 2 минут ',
      description: [
        'По телефону, email или в мессенджере. Вы можете поставить<br>перед ним задачу, даже если едете в машине.<br>',
        'В течение 15–20 минут вы получите квалифицированный ответ на свой вопрос или готовый документ — платежку, накладную, счет-фактуру'
      ]
    },
    {
      number: '4',
      order: 'reverse',
      title: 'Сами заботимся<br>о всех нюансах',
      description: 'Каждый месяц вы получаете:',
      litems: [
        'предварительный расчет налогов',
        'уведомление о сроках оплаты налогов',
        'напоминание о том, кто и сколько вам должен, какие<br>документы не собраны и когда их нужно нам передать.'
      ],
      description2: 'В результате вы работаете без кассовых разрывов, вовремя рассчитываетесь с поставщиками и можете планировать свою деятельность'
    }
  ];

section.s-features
  .container
    .s-features__content
      .s-features__title
        +title-section-40-51('Мы с вами друг друга<br>не дёргаем, но бухгалтерия<br>работает безупречно')
      ul.s-features__items
        li.s-features__item
          +s-feature(sFeatureCont[0])
        li.s-features__item
          +s-feature-list(sFeatureCont[1])
        li.s-features__item
          +s-feature(sFeatureCont[2])
        li.s-features__item
          +s-feature-list-2(sFeatureCont[3])