h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

@include reset();

sup {
  top: 0.5em;
  font-size: 65%;
}

body {
  background-color: #fff;
}

.wrapper {
  padding-top: 128px;
  
  @media (max-width: 765px) {
    padding-top: 80px;
  }

  &.wrapper--scrolling {
    padding-top: 80px;

    @media (max-width: 765px) {
      padding-top: 56px;
    }
  }
}

.container {
  max-width: 1122px;
  margin: 0 auto;

  @include breakpoint(contSize) {
    max-width: $tablet;
  }

  @media (max-width: 765px) {
    max-width: $mobile-m;
  }
}

.sb-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 1;
  z-index: 100;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

picture {
  display: block;
  width: 100%;
  position: relative;

  img {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
  }
}

.fadeOutUp {
  opacity: 0;
  transform: translateY(30px);
  transition: 0.8s;
  transition-property: opacity, transform;

  &.fadeOutUp--done {
    opacity: 1;
    transform: translateY(0);
  }
}

.fancybox-content {
  padding: 0 !important;
}